#roundOverModalOverlay, #gameOverModalOverlay {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

#modal, #roundOverModal {
  background-color: transparent;
  transform: scale(0.7);
  transition: transform 0.5s ease;
}

#roundOverModalOverlay.show, #gameOverModalOverlay.show {
  opacity: 1;
  visibility: visible;
}

#roundOverModalOverlay.show #roundOverModal, #gameOverModalOverlay.show #roundOverModal {
  transform: scale(1);
}

#modal button, #roundOverModal button {
  padding: 3vh;
  font-size: 3vh;
}

.hidden {
  display: none;
}

#gameOverText {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 1vh;
}
#gameOverText img {
  height: 20vh;
  border-radius: 30%;
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
}
#gameOverText span {
  font-size: 9vh;
}
#modal, #roundOverModal {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}