#startGame {
  height: 100vh;
  width: 100vw;
  text-align: center;
  /* border: 1px solid white; */
}

.landingContainer {
  display: flex;
}

.landingContent {
  display: flex;
  flex-direction: column;
}

@keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#startGame h1 {
  font-size: 7vh;
  margin-top: 10vh;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), 8px 8px 16px rgba(0, 0, 0, 0.3);
}

#startGame a {
  display: inline-block;
  background-color: transparent;
  color: #fff;
  font-size: 13vh;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), 8px 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;

  animation: pulsate 2s infinite;
}


#startGame a:hover {
  animation: none;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), 8px 8px 16px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.7);
}

.startGameHuman, .startGameBot {
  height: 15vh;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 1);
}

.startGameVs {
  display: flex;
  font-size: 5vh;
  color: white;
  text-shadow: 4px 5px 4px rgba(0, 0, 0, 1.5), 3px 5px 8px rgba(0, 0, 0, 1.3);
  padding-left: 3vh;
  padding-right: 3vh;
}

.vsContainer {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

#startGame::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/public/img/background.png');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-button {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.5vh 1vh;
  margin: 0.5vh;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 50px;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1), 0px 0px 15px rgba(255, 255, 255, 1)
}

.toggle-button.active {
  background-color: transparent;
  color: #fff;
  border: 2px solid #ffffff9e;
  animation: borderAnimation 1s;
}

@keyframes borderAnimation {
  0% {
    border-color: #ffffff00;
  }
  100% {
    border-color: #ffffff9e;
  }
}

#startGameButton {
  margin: 3vh;
}

#info_link {
  font-size: 1.5vh;
  margin-top: 2vh;
  animation: none;
  background-color: transparent;
}

#info_link:hover {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), 8px 8px 16px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

#infoModal {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  /* transition: opacity 0.5s ease; */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#infoModal.show {
  opacity: 1;
  visibility: visible;
}

#infoText {
  display: flex;
  flex-direction: column;
  width: 30vh;
  font-size: 1.4vh;
}

#infoText p {
  margin: 1vh;
  padding: 0;
  line-height: 1.8vh;
}

#infoText a {
  color: white;
}


hr {
  width: 30vh;
}